@using OnlineStore.Model.ViewModel
@model GroupProductViewModel

<div class="sap_tabs b-groupproduct">
    <div class="title-groupproduct" style="display:block;height:40px;">
        <span class="category-title-groupproduct" style="display:inline-block;">@Model.CategoryName</span>
        <div class="arrow-right"></div>
        <a class="btn btn-next-groupproduct pull-right"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <a class="btn btn-previous-groupproduct pull-right"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <div class="childrencategory-groupproduct pull-left">
            @foreach (var item in Model.childrenCategories)
            {
                @Html.ActionLink(item.Name, "GetProductByCategory", "Product", new { @id = item.Id }, new { @class = "btn subcategory-groupproduct" })
            }
        </div>
    </div>
    <div class="products-groupproduct wrap divProductBanner" style="display: block; width: 100%; margin: 0px;">
        <div class="owl-carousel owl-theme">
            @foreach (var item in Model.products)
            {
                <div class="product-men item" data-toggle="popover" title="@item.Name" data-content="@item.ShortDescription">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <a href="/Product/ProductDetails/@item.Id" class="men-thumb-item">
                            <img src="@item.CoverImageUrl" alt="" class="pro-image-front">
                            <img src="@item.CoverImageUrl" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    @Html.ActionLink("Chi Tiết", "ProductDetails", "Product", new { @id = item.Id }, new { @class = "link-product-add-cart" })
                                </div>
                            </div>
                        </a>
                        <div class="item-info-product ">
                            <h4 class="productname-item-groupproduct">@Html.ActionLink(item.Name, "ProductDetails", "Product", new { @id = item.Id }, null)</h4>
                            <div class="brandname-item-groupproduct">Thương hiệu: @item.BrandName</div>
                            <div class="info-product-price">
                                <span class="item_price"><del>@item.OldPriceFormatCurrency</del></span>
                                <span class="item_price">@item.PriceFormatCurrency</span>
                            </div>
                            @*<a href="#" class="item_add single-item hvr-outline-out button2">Thêm Vào Giỏ</a>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="display:block;height:30px;">@Html.ActionLink("thêm...", "GetProductByCategory", "Product", new { @id = Model.CategoryId }, new { @class = "pull-right" })</div>
</div>

