@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Trang chủ";
}

@section css{
<link href="~/Content/webcss/pignose.layerslider.css" rel="stylesheet" />
<link href="~/Content/display-product/homepage.css" rel="stylesheet" />
}

@section scripts{
<script src="~/Scripts/webjs/simpleCart.min.js"></script>
<script src="~/Scripts/webjs/pignose.layerslider.js"></script>
<script src="~/Scripts/webjs/easyResponsiveTabs.js"></script>
<script src="~/Content/plugins/sly/sly.min.js"></script>
<script src="~/Scripts/DisplayProduct/HomePage.js"></script>
}

<div ng-app="ecom_HomePage" ng-controller="ecom_Main_Controller">
    <!-- banner -->
    @*<div class="banner-grid">
        <div id="visual">
            <div class="slide-visual">
                <!-- Slide Image Area (1000 x 424) -->
                <ul class="slide-group">
                    <li><img class="img-responsive" src="~/Content/Images/TestImages/ba1.jpg" alt="Dummy Image" /></li>
                    <li><img class="img-responsive" src="~/Content/Images/TestImages/ba2.jpg" alt="Dummy Image" /></li>
                    <li><img class="img-responsive" src="~/Content/Images/TestImages/ba3.jpg" alt="Dummy Image" /></li>
                </ul>

                <!-- Slide Description Image Area (316 x 328) -->
                <div class="script-wrap">
                    <ul class="script-group">
                        <li><div class="inner-script"><img class="img-responsive" src="~/Content/Images/TestImages/baa1.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="~/Content/Images/TestImages/baa2.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="~/Content/Images/TestImages/baa3.jpg" alt="Dummy Image" /></div></li>
                    </ul>
                    <div class="slide-controller">
                        <a href="#" class="btn-prev"><img src="~/Content/Images/TestImages/btn_prev.png" alt="Prev Slide" /></a>
                        <a href="#" class="btn-play"><img src="~/Content/Images/TestImages/btn_play.png" alt="Start Slide" /></a>
                        <a href="#" class="btn-pause"><img src="~/Content/Images/TestImages/btn_pause.png" alt="Pause Slide" /></a>
                        <a href="#" class="btn-next"><img src="~/Content/Images/TestImages/btn_next.png" alt="Next Slide" /></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>*@
    <!-- //banner -->
    <!-- content -->

    <div class="product-easy">
        <div class="container">
            @Html.Action("GroupProductPatial", new {@categoryId = 16})

            @Html.Action("GroupProductPatial", new { @categoryId = 19 })
        </div>
    </div>
    <!-- //product-nav -->

</div>
@*<div class="banner-wrapper">
    <div class="banner-images"></div>
    <div class="container">
        <div class="banner-info">
            <h3>
                BAKERY SHOP
            </h3>
            <h3> A tatse of the good life </h3>
            <div class="search-form">
                <form action="/Product/SearchProduct" method="get">
                    <input type="text" placeholder="Search..." name="searchString">
                    <input type="submit" value=" ">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- special offer -->
<div class="content-top ">
    <div class="container ">
        <div class="spec ">
            <h3>Special Offers</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="tab-head ">
            <nav class="nav-sidebar">
                <ul class="nav tabs ">
                    <li class="active"><a href="#tab1" data-toggle="tab">Bakery</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Kitchen Tools</a></li>
                </ul>
            </nav>
            <div class=" tab-content tab-content-t ">
                <div class="tab-pane active text-style" id="tab1">
                    <div class=" con-w3l">
                        @Html.Partial("ListProduct", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.ListBakeryProducts)
                        <div class="clearfix"></div>
                        <div class="row">
                            @Html.ActionLink("more items", "GetProductByCategory", "Product", new { id = 8 }, new { @class = "pull-right" })
                        </div>
                    </div>
                </div>
                <div class="tab-pane  text-style" id="tab2">
                    <div class=" con-w3l">
                        @Html.Partial("ListProduct", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.ListKitChenTools)
                        <div class="clearfix"></div>
                        <div class="row">
                            @Html.ActionLink("more items", "GetProductByCategory", "Product", new { id = 9 }, new { @class = "pull-right" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- special offer -->
<!--content-->
<div class="content-mid">
    <div class="container">

        <div class="col-md-4 m-w3ls">
            <div class="col-md1 ">
                <a href="kitchen.html">
                    <img src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/co1.jpg" class="img-responsive img" alt="">
                    <div class="big-sa">
                        <h6>New Collections</h6>
                        <h3>Season<span>ing </span></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls1">
            <div class="col-md ">
                <a href="hold.html">
                    <img src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/co.jpg" class="img-responsive img" alt="">
                    <div class="big-sale">
                        <div class="big-sale1">
                            <h3>Big <span>Sale</span></h3>
                            <p>It is a long established fact that a reader </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls">
            <div class="col-md2 ">
                <a href="kitchen.html">
                    <img src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/co2.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale2">
                        <h3>Cooking <span>Oil</span></h3>
                        <p>It is a long established fact that a reader </p>
                    </div>
                </a>
            </div>
            <div class="col-md3 ">
                <a href="hold.html">
                    <img src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/co3.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale3">
                        <h3>Vegeta<span>bles</span></h3>
                        <p>It is a long established fact that a reader </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--content-->
<!-- Carousel
  ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="kitchen.html"> <img class="first-slide" src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/ba.jpg" alt="First slide"></a>

        </div>
        <div class="item">
            <a href="care.html"> <img class="second-slide " src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/ba1.jpg" alt="Second slide"></a>

        </div>
        <div class="item">
            <a href="hold.html"><img class="third-slide " src="~/Content/~/Content/Images/TestImages/Test~/Content/Images/TestImages/ba2.jpg" alt="Third slide"></a>

        </div>
    </div>

</div><!-- /.carousel -->
<!--content-->
<div class="product">
    @Html.Partial("_GroupProductsPartial", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.NewProductList, new ViewDataDictionary { { "Title", "Special Offers" } })
</div>

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="~/Scripts/webjs/jquery.mycart.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: "hover",
            container: "body",
            placement: "auto right",
            template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
        });

        var goToCartIcon = function ($addTocartBtn) {
            var $cartIcon = $(".my-cart-icon");
            var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
            $addTocartBtn.prepend($image);
            var position = $cartIcon.position();
            $image.animate({
                top: position.top,
                left: position.left
            }, 500, "linear", function () {
                $image.remove();
            });
        }

        $('.my-cart-btn').myCart({
            currencySymbol: 'VND',
            classCartIcon: 'my-cart-icon',
            classCartBadge: 'my-cart-badge',
            affixCartIcon: true,
            checkoutCart: function (products) {
                console.log(products);
                window.location.replace("/Order/CheckOut");
            },
            clickOnAddToCart: function ($addTocart) {
                goToCartIcon($addTocart);
            },
            getDiscountPrice: function (products) {
                var total = 0;
                $.each(products, function () {
                    total += this.quantity * this.price;
                });
                return total * 1;
            }
        });
    });
</script>*@

