@model OnlineStore.Model.ViewModel.QuickQuoteViewModel
@{
    ViewBag.Title = "Báo giá nhanh";
}
@section css{
    <link href="~/Content/display-product/cms.css" rel="stylesheet" />
}

@section scripts{

}

<div class="container">
    <div class="breadcrumb">
        <a href="/Home/Index">Trang chủ</a>
        <span> » </span><a href="@Url.Action("QuickQuote", "Home")">Báo giá nhanh</a>
    </div>
    <div class="quick_quotes_area" id="homebanners">
        @using (Html.BeginForm("QuickQuote", "Home",null, FormMethod.Post, new { enctype = "multipart/form-data", @style="height:500px" }))
        {
            @Html.AntiForgeryToken()
            <div class="form_slide form_web padd15">
                <h3 align="center">Lý do nên chọn công ty TNHH Nhân Phước</h3>
                <hr>
                <div class="form_content cf">
                    <div class="ten columns greenBg r_col_form">
                        <h3 align="center"><span>Mất Thời Gian Tìm Kiếm ?</span> Yêu cầu báo giá ngay</h3>
                        <div class="eight columns col1">
                            <div class="row_account write_list_pros">
                                @Html.TextAreaFor(model => model.Request, new { @class = "inputbox", @placeholder = "Liệt kê các sản phẩm cần mua X số lượng. Ví dụ: Thang nhom nk 38 X 3", cols = "30", rows = "10", style = "height: 110px" })
                            </div>
                        </div>
                        <div class="eight columns col2" align="center">
                            <div class="row_account">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "inputbox", @placeholder = "Tên (*)" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="row_account">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "inputbox", @placeholder = "Email (*)" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="row_account">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "inputbox", @placeholder = "Điện thoại (*)" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="row_account">
                                <input name="Company" type="text" id="company" class="inputbox" placeholder="Công ty">
                            </div>
                            <div class="row_account">
                                <textarea name="Note" id="content" placeholder="Yêu cầu khác" class="inputbox" cols="30" rows="10" style="height:80px"></textarea>
                            </div>
                            <div class="row_account">
                                <button type="submit" id="btn-send-request" class="btn_form_slide ladda-button" data-style="zoom-in">Báo giá ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="six columns text_col_form">
                        <h3>Cam Kết Của Chúng Tôi</h3>
                        <ul>
                            <li><span>Giá Tốt Nhất</span></li>
                            <li><span>Luôn Đúng Hẹn</span></li>
                            <li><span>Thanh Toán Linh Hoạt</span></li>
                            <li><span>Giao Hàng Trong Ngày</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>