@model OnlineStore.Model.ViewModel.CMSNewsView

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/display-product/cms.css" rel="stylesheet" />

<div class="container">
    <div id="main">
        <div class="breadcrumb"><a href="/Home/Index">Trang chủ</a> » <a href="/tu-van-ket-noi">Kết nối tư vấn</a>
            @for (int i = ViewBag.Path.Count - 1; i >= 0; i--)
            {
                <span> » </span><a href="@Url.Action("Index", "News", new { id = ViewBag.Path[i].Id })">@ViewBag.Path[i].Title</a>
            }
            <span> » </span> <a href="@Url.Action("Details", "News", new { id = Model.Id })">@Model.Title</a>
        </div>

        <div class="three columns" id="sidebar">
            <div class="inner_col">
                <div class="box">
                    <div class="most-viewed" id="cate_left">
                        <span class="title_filter">Danh mục</span>

                        <ul class="list_field">
                            @foreach (var item in (IList<OnlineStore.Model.ViewModel.CMSCategoryView>)ViewBag.ChildCategories)
                            {
                                <li>
                                    <h3><a class="font-size-child-menu" href="@Url.Action("Index", "News", new { id = item.Id })">@item.Title</a></h3>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="thirteen columns" id="main_content">
            <div class="box">
                
                <div id="sdsblogArticle" class="blog-post">
                    <h1 class="title_block_exclusive">@Model.Title</h1>
                    <div class="articleHeader">
                        <div class="postInfo">
                            Đăng bởi<span itemprop="author"><i class="fa fa-user"></i> @Model.Authors</span>
                            <span itemprop="dateCreated">
                                <i class="fa fa-calendar"></i>
                                &nbsp;@(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("MMM dd, yyyy") : DateTime.Now.ToString("MMM dd, yyyy"))
                            </span>
                            <span itemprop="articleSection">
                                <i class="fa fa-tags"></i>
                                <a href="#">@Model.Tags</a>
                            </span>
                            <span class="views">
                                <i class="fa fa-eye"></i> @Model.TotalView.ToString() lượt xem
                            </span>
                        </div>
                    </div>
                    <div itemprop="articleBody">
                        @*<div class="post-image">
                            <img class="img-responsive" src="@Model.CoverImagePath" alt="@Model.Title">
                        </div>*@
                        <div class="sdsarticle-des">
                            @Html.Raw(Model.ContentNews)
                        </div>
                        <div class="sdstags-update">
                            <span class="tags">
                                <b>Tags: </b>
                                @Model.Tags
                            </span>
                        </div>
                    </div>
                    <div class="sdsarticleBottom">
                        
                        <div class="block-addthis">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fccc98d09eb20ae"></script>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_native_toolbox"></div>
                        </div>

                        <div id="articleRelated" class="block">
                            <h4 class="title_block">Bài viết liên quan: </h4>
                            <div class="block_content">
                                <ul class="row">
                                    @foreach (var item in (IList<OnlineStore.Model.ViewModel.CMSNewsView>)ViewBag.RelatedNews)
                                    {
                                        <li class="col-xs-12 col-sm-6 col-md-4">
                                            <a class="products-block-image" title="@item.Title" href="@Url.Action("Details", "News", new { id = item.Id })">
                                                <img class="img-responsive" style="width: 300px; height: 165px;" alt="@item.Title" src="@item.CoverImagePath">
                                            </a>
                                            <p><a class="post-name" title="@item.Title" href="@Url.Action("Details", "News", new { id = item.Id })">@item.Title</a></p>
                                            <span class="info">@(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("MMM dd, yyyy") : DateTime.Now.ToString("MMM dd, yyyy"))</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>