@using PagedList.Mvc
@using PagedList;

@model IPagedList<OnlineStore.Model.ViewModel.CMSNewsView>

@{
    ViewBag.Title = ViewBag.CategoryTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/display-product/cms.css" rel="stylesheet" />

<div class="container">
    <div id="main">
        <div class="breadcrumb"><a href="http://www.ketnoitieudung.vn">Trang chủ</a> » <a href="http://www.ketnoitieudung.vn/ket-noi-tu-van.html">Kết nối tư vấn</a> » <a href="http://www.ketnoitieudung.vn/ket-noi-tu-van/thang-nhom_pc31.html">Thang nhôm</a>  » <a href="http://www.ketnoitieudung.vn/ket-noi-tu-van/thang-nhom/danh-gia-tu-van_pc31_c1.html">Đánh giá tư vấn</a></div>

        <div class="three columns" id="sidebar">
            <div class="inner_col">
                <div class="box">
                    <div class="most-viewed" id="cate_left">
                        <span class="title_filter">Danh mục</span>

                        <ul class="list_field">
                            @foreach (var item in (IList<OnlineStore.Model.ViewModel.CMSCategoryView>)ViewBag.ChildCategories)
                            {
                                <li>
                                    <h3><a class="font-size-child-menu" href="@Url.Action("Index", "News", new { id = item.Id })">@item.Title</a></h3>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="thirteen columns" id="main_content">
            <div class="box">
                @if (Model.Count() > 0)
                {
                    <div class="box_ct news_page">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li class="one-third column">
                                    <article class="news_item">
                                        <figure class="img_news"><a href="@Url.Action("Details", "News" , new { id=item.Id })" title="@item.Title" style="background-image: url('@item.CoverImagePath')"></a></figure>
                                        <h2 class="title_news"><a href="@Url.Action("Details", "News" , new { id=item.Id })" title="@item.Title">@item.Title</a></h2>
                                        <p class="description_news">
                                            @item.SubTitle
                                        </p>
                                        <a href="@Url.Action("Details", "News" , new { id=item.Id })" class="readmore"><i class="glyphicon glyphicon-forward"></i><em>Chi tiết</em></a>
                                    </article>
                                </li>
                            }
                        </ul>
                    </div>

                    @Html.PagedListPager(Model, page =>
                                Url.Action("Index", new
                                {
                                    page,
                                    keyword = Request.QueryString["keyword"],
                                }))
                }
                else
                {
                    <p class="text-danger">Không có bài viết hiển thị.</p>
                }
            </div>
        </div>
    </div>
</div>