@using OnlineStoreMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section css{
    <style>
        .form-login{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
        }
    </style>
}

<div class="single">
    <div id="columns" class="container">
        <div class="breadcrumb"><a href="/Home/Index">Trang chủ</a> » <a href="/Acount/Login">Đăng nhập</a></div>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-login", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Email", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "is_required validate account_input form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Mật khẩu", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "is_required validate account_input form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Đăng nhập" class="btn btn-default btn-sm" />
                </div>
            </div>
            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Create new account", "/Register")
                </div>
            </div>*@
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
