@model IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>
@{
    string Title = ViewData["Title"] != null ? (string)ViewData["Title"] : String.Empty;
}

<div class="container">
    <div class="spec ">
        <h5>@Title</h5>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <div class=" con-w3l listProduct">
        @foreach (var item in @Model)
        {
            <div class="col-md-3 product-men" data-toggle="popover" title="@item.Name" data-content="@item.ShortDescription">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="@item.CoverImageUrl" alt="" class="pro-image-front">
                        <img src="@item.CoverImageUrl" alt="" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                @Html.ActionLink("Chi Tiết", "ProductDetails", "Product", new { @id = item.Id }, new { @class = "link-product-add-cart" })
                            </div>
                        </div>
                        @if (item.IsNew)
                        {
                            <span class="product-new-top">Mới</span>
                        }

                    </div>
                    <div class="item-info-product ">
                        <h4>@Html.ActionLink(item.Name, "ProductDetails", "Product", new { @id = item.Id }, null)</h4>
                        <div class="info-product-price">
                            <span class="item_price">@item.PriceFormatCurrency</span>
                        </div>
                        @*<a href="#" class="item_add single-item hvr-outline-out button2">Thêm Vào Giỏ</a>*@
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>
