@model IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>

@foreach (var item in Model)
{
    <div class="col-md-3 product-men" data-toggle="popover" title="@item.Name" data-content='@item.ShortDescription'>
        <div class="men-pro-item simpleCart_shelfItem">
            <a href="/Product/ProductDetails/@item.Id" class="men-thumb-item">
                <img src="@item.CoverImageUrl" alt="" class="pro-image-front">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        @Html.ActionLink("Chi Tiết", "ProductDetails", "Product", new { @id = item.Id }, new { @class = "link-product-add-cart" })
                    </div>
                </div>
            </a>
            <div class="item-info-product ">
                <h4 class="productname-item-info-product">@Html.ActionLink(item.Name, "ProductDetails", "Product", new { @id = item.Id }, null)</h4>
                <div class="brandname-item-groupproduct">Thương hiệu: @item.BrandName</div>
                <div class="info-product-price">
                    <span class="item_price">@item.PriceFormatCurrency</span>
                </div>
                @if (item.SaleOff != 0)
                {
                    <div class="saleoff-item-groupproduct">@item.SaleOff%</div>
                }
                @*<a href="#" class="item_add single-item hvr-outline-out button2">Thêm Vào Giỏ</a>*@
            </div>
        </div>
    </div>
}
