@model OnlineStore.Service.Messaging.GetProductsOfBranchResponse

@{
    ViewBag.Title = "Danh sách sản phẩm theo thương hiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
<link href="~/Content/plugins/pagingcontrol/simplePagination.css" rel="stylesheet" />
<link href="~/Content/plugins/price-range/price-range.css" rel="stylesheet" />
<link href="~/Content/display-product/display-product-view.css" rel="stylesheet" />
}

@section scripts{
<script src="~/Content/plugins/spin/spin.min.js"></script>
<script src="~/Content/plugins/pagingcontrol/jquery.simplePagination.js"></script>
<script src="~/Scripts/DisplayProduct/DisplayProductOfBranch.js"></script>
}

<div class="men-wear">
    <div class="container">
        <div class="breadcrumb">
            <a href="/Home/Index">Trang chủ</a>
            <span> » </span><a href="@Url.Action("DisplayProductsOfBranch", "Product", new { id = Model.BranchId })">@Model.BranchName</a>
        </div>
        <div class="col-md-3 products-left b-filterItems">
            <div class="community-poll categoryfilter-displayproduct">
                <h4>Danh Mục</h4>
                <div class="listbranch-displayproduct">
                    @Html.Partial("_CategoryFilterPartialView", Model.Categories)
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-9 products-right b-productItems">
            <h5>Thương hiệu : @Model.BranchName</h5>
            <div class="sort-grid">
                <div class="sorting">
                    @Html.DropDownList("SortProductOptionsSelectListItems")
                    <div class="clearfix"></div>
                </div>
                <div class="sorting">
                    <span class="display hidden-xs pull-right">Có @Model.NumberOfTitlesFound sản phẩm</span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="productlist-displayproduct">
                @Html.Partial("ListProduct", Model.Products)
            </div>
            <div class="clearfix"></div>
            <div class="content_sortPagiBar">
                <div class="bottom-pagination-content clearfix">
                    <div class="paging-control-filtercontent pull-right"></div>
                </div>
            </div><!-- sort bar -->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //mens -->

<script>
    $(document).ready(function(){
        DisplayProductManagement.init(@Model.BranchId,@Model.NumberOfTitlesFound, 1);
    });
</script>

